*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

#divPrincipalInputSize{
    width: 46%;
}

.inputSize{
    width: 95%;
    height: 100%;
    border: none;
    border-radius: 50px;
    margin-top: 1%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    outline: none;
}

.inputSize::placeholder {
  font-size: 10px;
  color: black;
  font-style: italic;
}

.divPrincipalTitulo {
    font-size: 4vw;
}

.div-input-size-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.divInputSize{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 3rem;
    border: 2.5px solid #DBD7CE;  
    border-radius: 50px;
    margin-top: 1%;
    overflow: hidden;
    padding: 0 0.3rem 0 0.3rem;
}

.divInputSize h3 {
    font-weight: 400;
}