.pontos-de-luz {
    width: 100vw;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pdl-title-container {
    width: 100%;
    height: 4rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pdl-title {
    width: 70%;
}

.pdl-title-text {
    font-size: 1.4rem;
    font-weight: 600;
}

.pdl-button {
    border: 1px solid #DBD7CE;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pdl-button p {
    font-size: 1.1rem;
    font-weight: 600;
}

.pdl-text-container {
    margin-top: 1rem;
}

.pdl-text {
    margin-bottom: 1.8rem;
    font-size: 0.99rem;
    color: #756559;
    text-align: justify;
}

.popup {
    position: fixed;
    bottom: 0;
    height: auto;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 2;
    border-radius: 8% 8% 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(20rem);
    opacity: 0;
    animation: slideUp 2s ease-in-out forwards;
    animation-delay: 0.2s;
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#popup-luminarias, #popup-sancas, #popup-nao-id {
    visibility: hidden;
}

#popup-blackout {
    background-color: black;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    opacity: 70%;
    height: 100vh;
    visibility: hidden;
}