.atitudes-sustentaveis {
    width: 100vw;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.atitudes-title-container {
    width: 100%;
    margin-top: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.atitudes-title-buttons-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.atitudes-title {
    width: 100%;
    margin-top: 2.5rem;
}

.atitudes-title-text {
    font-size: 1.4rem;
    font-weight: 600;
}

.atitudes-title-subtext {
    font-size: 1.2rem;
    font-weight: 500;
    color: #E28E00;
}

.atitudes-button {
    border: 1px solid #E28E00;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.atitudes-button img {
    width: 2.2rem;
}

.atitudes-text-container {
    margin-top: 1.5rem;
}

.atitudes-text {
    margin-bottom: 1.8rem;
    font-size: 0.99rem;
    color: #756559;
}

.popup {
    position: fixed;
    bottom: 0;
    height: auto;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 2;
    border-radius: 8% 8% 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(20rem);
    opacity: 0;
    animation: slideUp 2s ease-in-out forwards;
    animation-delay: 0.2s;
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#popup-labca, #popup-devmob {
    visibility: hidden;
}

#popup-blackout {
    background-color: black;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    opacity: 70%;
    height: 100vh;
    visibility: hidden;
}